<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link href="css/mui.min.css" rel="stylesheet"></link>
        <link href="css/alertify.css" rel="stylesheet"></link>
        <link href="css/d3-node-editor.css" rel="stylesheet"></link>

        <script src="js/vendor/alertify.min.js"></script>
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        
        <script src="js/vendor/vue.min.js"></script>
        <script src="js/vendor/mui.min.js"></script>   
        <script src="js/vendor/alight.min.js"></script>
        <script src="js/vendor/d3.min.js"></script>
        <script src="js/vendor/d3-node-editor.js"></script>
        <script type="text/javascript" src="js/vendor/jquery.min.js"></script>


    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Flow974</h1>
                <nav>
                    <ul>
                        <li><a id="Op" href="#">Op</a></li>
                        <li><a id="Ev" href="#">Ev</a></li>
                        <li><a id="Ai" href="#">Al</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                    <header>
                        <h1>Flow Programming</h1>
                        <p>Cet outil permet de décrire des algorithmes par des graphes orientés.</p>
                    </header>
                    <section>
                        <h2>Programmation fonctionnelle</h2>
                        <p>Chaque sommet du graphe est une fonction, on parle donc de programmation fonctionnelle.</p>
                        <ul>
                            <li><em>Op</em>érations permet de créer des fonctions ou opérations</li>
                            <li><em>Ev</em>énements permet de gérer des évènements pour programmer "responsive"</li>
                            <li>AI permet de programmer un bot à qui on peut donner de l'intelligence !</li>
                        </ul>
                        
                       
                       
                       
    <div class="content">
      <div id="editor-wrapper">
        <div id="d3ne" class="node-editor">
           <div id="moduleheader">
                <button onclick="saveModule()">Enregistrer le module</button>
                <input id="modulename" type="text">
            </div>
        </div>
      </div>
      <div id="telegram">
        <div class="messages" ref="messages">
          <div class="message" v-for="message in messages" :class="{owner: users[message.user].owner}">
            <div class="avatar"><img :src="users[message.user].avatar"/></div>
            <div class="text-wrap">
              <div class="text" v-html="formatMsg(message.text)"></div>
            </div>
          </div>
        </div>
        <div class="form row s12">
          <div class="mui-textfield mui-col-md-8">
            <input class="validate" id="first_name" v-model="textfield"/>
          </div>
          <div class="mui-col-md-4">
            <button class="mui-btn s12" @click="sendOwner(textfield); textfield=''">Send</button>
          </div>
        </div>
      </div>
    </div>


                    </section>
                   
                    <footer>
                        <h3>de Barack Obama (2013)</h3>
                        <p>Ne vous contentez pas d'acheter un jeu vidéo, fabriquez-en un. Ne vous contentez pas de jouer sur votre smartphone, programmez-le.</p>
                    </footer>
                </article>

                <aside>
                        <h3>Flow programming</h3>
                        <p>Le programme est un graphe orienté, et son exécution est un flux de données dans le programme.</p>
                </aside>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>Florian Tobé (voir sur <a href="https://github.com/rodeofly/flow974.git">Github</a>)<br>basé sur <a href="https://github.com/Ni55aN/d3-node-editor">d3-node-editor</a></h3>
            </footer>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        
        <script src="js/componentsOp.js"></script>
        <script src="js/componentsMod.js"></script>
        <script src="js/componentsEv.js"></script>
        <script src="js/componentsAi.js"></script>
        <script src="js/main.js"></script>


    </body>
</html>
